@{
    ViewBag.Title = "index";
}

<section id="articles">  
    <article class="post">
      <header>
        <h1><a href="#">Test</a></h1>
        <span class="date">August 17th</span>
      </header>

      <section class="content">
        Summary
      </section>
      <div class="more"><a href="#">read on &raquo;</a></div>
    </article>  
</section>

<section id="archives">
  <h1></h1>
</section>

